body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #f9fafb;
  color: #111;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: white;
  position: sticky;
  top: 0;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #555;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 80px 60px;
}

.hero h1 {
  font-size: 48px;
  line-height: 1.3;
}

.hero span {
  color: #2563eb;
}

.hero p {
  color: #555;
  margin: 20px 0;
}

.hero-card {
  background: #2563eb;
  color: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
  color: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* BUTTON */
.btn {
  padding: 12px 25px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
}

/* SECTION */
.section {
  padding: 60px;
}

.subtext {
  color: #666;
}

/* GRID */
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
}

.card.big {
  padding: 30px;
}

/* SKILLS */
.skill-box h3 {
  margin-bottom: 15px;
}

.skill {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}

.bar {
  background: #e5e7eb;
  height: 6px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.bar div {
  height: 6px;
  background: #2563eb;
  border-radius: 10px;
}

/* CONTACT */
.contact {
  text-align: center;
}